<div>
    <style>
        #footer ul.footer-menu { clear: left; list-style-type: none; float: left; display: inline; padding: 10px 0 0 0; }
        #footer ul.footer-menu li { margin: 0 8px 0 8px; display: inline; font-size: 0.917em; color: #e3e3e3; }
    </style>

    <div id="footer">
        <ul class="footer-menu">
            <li><a href="index.html">Home</a></li>
            <span>|</span>
            <li><a href="draw.html">Draw</a></li>
            <span>|</span>
            <li><a href="features.html">Features</a></li>
            <span>|</span>
            <li><a href="downloads.html">Downloads</a></li>
            <span>|</span>
            <li><a href="resources.html">Resources</a></li>
        </ul>
    </div>
</div>