


.attributesLabel{
   border: 1px solid  rgb(184, 184, 184);

}


.attributeLabel {
    background-color: rgb(147, 147, 147);
    color: white;
     font-weight: bold;
     cursor: pointer;   
     display: flex;
     align-items: center;
     gap: 4px;
     padding: 1px 8px  ;
     border-radius: 4px;
     height: auto;
     font-size: 14px;
}
.attributeDeleteIcon {
    font-weight: bolder;
    font-size: 11px;
    cursor: pointer;
    -webkit-text-stroke : 1px
}



.attributesScroll::-webkit-scrollbar {
    display: none;
  }
  
