.modal-dialog.modal-w660px {
    max-width: 660px;
}

.semi-bold {
    font-weight: 600;
}

:root {
    --bs-btn-color: #fff;
    --bs-btn-hover-bg: #c2c2c2;
    --bs-btn-active-bg: #c2c2c2;
}

.form-select {
    /* reduce BootStrap select down arrow size */
    padding: .375rem 1.5rem .375rem .375rem;
    background-position: right 0.3rem center;
}

.form-control:focus, .form-select:focus, .form-check-input:focus  {
    /* remove large focus color shadow from form inputs */
    box-shadow: none;
}

.dropdown-menu {
    --bs-dropdown-border-radius: 0.1875em;
    --bs-dropdown-padding-y: 0.2rem;
}

.btn-light {
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #767e85;
    border: 1px solid #ced4da
}

.btn-light, .btn-danger, .btn-primary, .btn-secondary {
    /* make every button that is not a navigation button semi-bold */
    font-weight: 600;
}

hr {
    margin: 4px 0;
    color: inherit;
    border: 0;
    border-top-color: currentcolor;
    border-top-style: none;
    border-top-width: 0px;
    border-top: 1px solid;
    opacity: .25;
}

h1 { font-size: 2em; line-height: 25px }

h2 { font-size: 1.25em; }

h3, h4, h5, h6 { font-size: 1.333em; }

pre { font-family: "Courier New"; }

p { padding: 10px 0px 5px 0px; }

table {
    border-collapse: collapse;
    width: 100%;
}

tbody tr {
    border-top: 1px solid #dddddd;
}

td, th {
    padding: 8px;
}

th {
    font-weight: 600;
}

/**
.horizontal-strike:before, .horizontal-strike:after {
    content: '';
    position: relative;
    top: 50%;
    left: 0;
    height: 1px;
    background: black;
    width: 50%;
    transform: translateY(-50%);
}
*/ 

/*
https://stackoverflow.com/questions/5214127/css-technique-for-a-horizontal-line-with-words-in-the-middle
*/
.horizontal-strike {
    display: flex;
    flex-direction: row;
  }
.horizontal-strike:before, .horizontal-strike:after{
    content: "";
    flex: 1 1;
    border-bottom: 2px solid;
    margin: auto;
}
.horizontal-strike:before {
    margin-right: 10px
}
.horizontal-strike:after {
    margin-left: 10px
}

.btn-icon {
    --bs-btn-padding-x: 4px;
    --bs-btn-padding-y: 4px;
    width: 38px;
    height: 38px;
}

.modal-body {
    max-height: 76vh;
    overflow: auto;
}

.bg-grey {
    background-color: #eee;
}

.react-flow__panel > svg {
    width: 100%;
    height: auto;
}

.btn-create {
    --bs-btn-color: #fff;
    --bs-btn-bg: #58B785;
    --bs-btn-border-color: #58B785;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #429e6d;
    --bs-btn-hover-border-color: #296846;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #429e6d;
    --bs-btn-active-border-color: #296846;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #58B785;
    --bs-btn-disabled-border-color: #58B785;
}