@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);


@font-face {
    /* this is named like this to prevent sneaky conflicts with using Windows system Consolas font 
    that behaves slightly differently in terms of width for some reason */
    font-family: 'RealReal_Consolas';
    src: url("../font/Consolas.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata';
    src: url("../font/Inconsolata.ttf");
    font-weight: normal;
    font-style: normal;
}

:root {
    --bs-btn-color: #fff;
    --bs-btn-hover-bg: #c2c2c2;
    --bs-btn-active-bg: #c2c2c2;
}

.dropdown-menu {
    --bs-dropdown-border-radius: 0.1875em;
    --bs-dropdown-padding-y: 0.2rem;
}

hr {
    margin: 4px 0;
    color: inherit;
    border: 0;
    border-top-color: currentcolor;
    border-top-style: none;
    border-top-width: 0px;
    border-top: 1px solid;
    opacity: .25;
}

h1, h2, h3, h4, h5, h6 { color: #28db00; }

h1 { font-size: 2em; line-height: 25px }

h2 { font-size: 1.25em; }

h3, h4, h5, h6 { font-size: 1.333em; }

pre { font-family: "Courier New"; }

p { padding: 10px 0px 5px 0px; }

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    font-weight: bold;
}


/* General Layout
-------------------------------------------------------------- */

#wrapHeader { margin: 0px; padding: 0px 0px 0px 0px; width: 912px; margin: 0 auto; position: relative; top: 0px; z-index: 10; }

#wrapContent { width: 912px; margin: 0px auto 0px auto; padding: 0px 0px 0px 0px; }

#footer { width: 912px; margin: 0 auto; overflow: hidden; padding: 0px 0px 20px 0px; }
