.dropdown-menu {
    --bs-dropdown-border-radius: 0.1875em;
    --bs-dropdown-padding-y: 0.2rem;
}

hr {
    margin: 4px 0;
    color: inherit;
    border: 0;
    border-top-color: currentcolor;
    border-top-style: none;
    border-top-width: 0px;
    border-top: 1px solid;
    opacity: .25;
}

