<!DOCTYPE html>
<html lang="en">

<head>
    <title>Features | RasterModeler - Yet another entity relationship modeler</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="RasterModeler, A text based entity relation modeler">
    <meta name="keywords" content="RasterModeler,ASCII,free,modeler,entity,relation,ERD,text">
    
    <link rel="stylesheet" type="text/css" href="../wwwroot/css/reset.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../wwwroot/css/main-style.css" media="screen">
    <link rel="icon" href="../wwwroot/favicon-32x32.png" type="image/x-icon">
</head>

<body style="display: none;">
<div>

    <!-- header: begin -->
    {% include "partial/header.html" %}
    <!-- header: end -->

    
    In development

	<!-- footer: begin -->
    {% include "partial/footer.html" %}
	<!-- footer: end -->
</div>

</body>

<script src="https://mozilla.github.io/nunjucks/files/nunjucks.js"></script>
<script>
    let page = document.querySelector('body');
    let data = page.innerHTML;


    let result = nunjucks.renderString(data, { active_nav: "features" });
    page.innerHTML = result;
    page.style.display = "block";
</script>
</html>