@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);

:root {
    --bs-btn-color: #fff;
    --bs-btn-hover-bg: #fff4;
    --bs-btn-active-bg: #fff4;
}

.dropdown-menu {
    --bs-dropdown-border-radius: 0.1875em;
    --bs-dropdown-padding-y: 0.2rem;
}

hr {
    margin: 4px 0;
    color: inherit;
    border: 0;
    border-top-color: currentcolor;
    border-top-style: none;
    border-top-width: 0px;
    border-top: 1px solid;
    opacity: .25;
}


a, a:link, a:visited { color: #e3e3e3; font-size: 1em; text-decoration: none; }

a:visited { text-decoration: none; }

a:hover, a:visited:hover { color: #e3e3e3; text-decoration: underline; }

h1, h2, h3, h4, h5, h6 { color: #28db00; }

h1 { font-size: 2em; line-height: 25px }

h2 { font-size: 1.25em; }

h3, h4, h5, h6 { font-size: 1.333em; }

pre { font-family: "Courier New"; }

p { padding: 10px 0px 5px 0px; }


/* General Layout
-------------------------------------------------------------- */

#wrapHeader { margin: 0px; padding: 0px 0px 0px 0px; width: 912px; margin: 0 auto; position: relative; top: 0px; z-index: 10; }

#wrapContent { width: 912px; margin: 0px auto 0px auto; padding: 0px 0px 0px 0px; }

#footer { width: 912px; margin: 0 auto; overflow: hidden; padding: 0px 0px 20px 0px; }
